<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
  <div class="{{container_class}}">
    <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
      <div class="text-body">
        <small>
        © <script>
        document.write(new Date().getFullYear())

        </script> Made with ❤️ by <a href="{% get_theme_variables 'creator_url' %}" target="_blank" class="footer-link">{% get_theme_variables 'creator_name' %}</a>
      </small>
      </div>
      <div class="d-none d-lg-inline-block">
        <small>
          <a href="https://my.vyzze.com/" target="_blank" class="footer-link d-none d-sm-inline-block">My Vyzze</a>
        </small>
      </div>
    </div>
  </div>
</footer>
<!-- / Footer -->
